In [1]:
## We get gender and sexual orientation data from 
## https://analytics.wikimedia.org/published/datasets/knowledge_gaps/content_gaps/knowledge_gap_index_metrics_csv/ 
## Use latest snapshot of data available in folder content_gap=gender/


import pandas as pd
indir='Data/'
#this contains the list of all Wikipedia languages
wikis=pd.read_csv(indir+'wikis')
import matplotlib.pyplot as plt
import numpy as np

### Loading and preprocessing data

In [3]:
#Loading Gender Data
#gendata=pd.read_csv(indir+'gender-june.csv')

# Use the link to load data to avoid truncation of the csv due to file size instead of downloading the csv
gendata=pd.read_csv("https://analytics.wikimedia.org/published/datasets/knowledge_gaps/content_gaps/knowledge_gap_index_metrics_csv/content_gap=gender/part-00000-2325150f-05fd-47e9-bfe4-08fae3eb635a.c000.csv")

gendata=gendata[gendata.wiki_db.isin(list(wikis['database_code']))]
gendata['gender3category']=[i if i in ['male','female'] else 'non-binary' for i in gendata['category']]

In [4]:
gen3snapshot=gendata.groupby(['gender3category'])['article_created_value'].sum().reset_index()
gen3snapshot

  gender3category  article_created_value
0          female                2403129
1            male                9939022
2      non-binary                  14160

### Now, over time (gender)

In [5]:
count={}
qual={}
pviews={}
for gender in gendata['category'].unique():
    count[gender]=gendata[gendata['category']==gender].groupby(['time_bucket'])['article_created_value'].sum()
    count[gender]=count[gender].cumsum()
    qual[gender]=gendata[gendata['category']==gender].groupby(['time_bucket'])['quality_score_value'].mean()
    pviews[gender]=gendata[gendata['category']==gender].groupby(['time_bucket'])['pageviews_mean_value'].mean()

In [6]:
#overtime quality articles
gen3quality=gendata.groupby(['gender3category','time_bucket'])['standard_quality_count_value'].sum().reset_index()

In [7]:
gen3quality.to_csv('quality_articles.csv')

In [8]:
gen3qualitysnapshot=gen3quality.groupby(['gender3category'])['standard_quality_count_value'].sum().reset_index()
gen3qualitysnapshot

  gender3category  standard_quality_count_value
0          female                      24995636
1            male                     104200004
2      non-binary                        247869