In [1]:
import wmfdata as wmf
import pandas as pd
import numpy as np
from wmfdata import spark,hive
from datetime import datetime

You are using Wmfdata v2.0.0, but v2.0.1 is available.

To update, run `pip install --upgrade git+https://github.com/wikimedia/wmfdata-python.git@release`.

To see the changes, refer to https://github.com/wikimedia/wmfdata-python/blob/release/CHANGELOG.md.

In [3]:
file = "https://analytics.wikimedia.org/published/datasets/knowledge_gaps/content_gaps/csv/geography_wmf_region.csv"
geodata = pd.read_csv(file)

# filter for wikipedia projects
wikis=pd.read_csv('data/wikis')
geodata=geodata[geodata.wiki_db.isin(list(wikis['database_code']))]

In [4]:
# Since each snapshot contains patial data of the month it is published it in: we filter the data from previous month if the data was pulled too early. 

# Convert 'time_bucket' to datetime for comparison
geodata['time_bucket'] = pd.to_datetime(geodata['time_bucket'])


# If today's day is before the 23rd of the month, filter out the previous month's data
if datetime.now().day < 23:
    prev_month = datetime.now().month - 1 if datetime.now().month > 1 else 12
    geodata = geodata[geodata['time_bucket'].dt.month != prev_month]

In [5]:
old_geo_data = pd.read_csv('data/updated_geo_data.csv') # load current geo_data table

old_geo_data['time'] = pd.to_datetime(old_geo_data['time'])

old_geo_data # view data

,time,Latin America & Caribbean,Central & Eastern Europe & Central Asia,"East, Southeast Asia, & Pacific",North America,Northern & Western Europe,Middle East & North Africa,Sub-Saharan Africa,South Asia
0,2019-01-01,43211,157277,98605,133819,390489,23763,16709,24872
1,2019-02-01,43507,158527,99658,134408,394303,23932,16854,25078
2,2019-03-01,43749,159813,100624,135045,395822,24118,17098,25245
3,2019-04-01,43925,161123,101544,135608,397749,24336,17522,25631
4,2019-05-01,44251,162442,102600,136348,399776,24541,17689,25815
5,2019-06-01,44575,163607,103453,137104,401924,24796,17866,26347
6,2019-07-01,44884,164846,104400,137724,403831,24941,18035,26638
7,2019-08-01,45186,166190,105317,138491,405853,25105,18173,26908
8,2019-09-01,45470,167283,106107,139104,407689,25295,18294,27073
9,2019-10-01,45727,168942,107117,139983,409961,25524,18468,27440
10,2019-11-01,45952,170360,108360,141289,412170,25765,18608,28255
11,2019-12-01,46170,172257,109409,142063,414288,25980,18774,28717
12,2020-01-01,46438,174043,110425,142822,416541,26261,18946,29070
13,2020-02-01,46654,175590,111483,143688,418677,26446,19101,29346
14,2020-03-01,46972,177010,112982,144568,421694,26712,19330,29615
15,2020-04-01,47363,178809,114184,145267,425167,27061,19604,30020
16,2020-05-01,47790,180645,116069,146432,428275,27325,19929,30374
17,2020-06-01,48132,182160,117121,147331,431211,27581,20186,30724
18,2020-07-01,48382,183580,118275,148591,434766,27790,20389,31142
19,2020-08-01,48704,184724,119261,149611,437560,28083,20609,31493
20,2020-09-01,48998,185960,120418,150419,439946,28341,20776,31855
21,2020-10-01,49468,187499,121687,151367,442465,28590,20977,32247
22,2020-11-01,49710,189371,123424,152167,451866,28928,21132,32709
23,2020-12-01,50013,190904,124851,152975,455197,29170,21292,33089
24,2021-01-01,50667,192565,126302,153909,458228,29441,21478,33457
25,2021-02-01,51019,193944,127471,154741,461014,29686,21645,33784
26,2021-03-01,51423,195442,128757,155699,466216,29949,21827,34069
27,2021-04-01,51784,196908,129719,156475,471174,30121,22006,34188
28,2021-05-01,52135,198693,130766,157277,474318,30330,22201,34541
29,2021-06-01,52409,199824,131796,158169,476557,30471,22430,34848
30,2021-07-01,52724,201196,133028,157269,478874,30673,22665,35406
31,2021-08-01,53071,202606,134239,158472,481278,30932,22928,35945
32,2021-09-01,53327,203847,135494,159237,483641,31112,23157,36259
33,2021-10-01,53578,205412,136732,160018,486109,31310,23364,36521
34,2021-11-01,53838,207093,138257,160772,488617,31575,23544,36883
35,2021-12-01,54198,208486,139453,161858,491099,31795,23735,37195
36,2022-01-01,54563,210253,140725,162601,493856,32033,23947,37515
37,2022-02-01,54877,211884,141908,163262,496033,32245,24145,37794
38,2022-03-01,55123,214760,143158,164071,498546,32464,24314,38033
39,2022-04-01,55397,217071,144190,164894,500935,32653,24479,38229
40,2022-05-01,55662,218800,145270,165848,503284,32891,24691,38445
41,2022-06-01,55995,220862,146277,167996,505742,33077,24845,38669
42,2022-07-01,56379,222720,147346,168804,508021,33293,25066,38900
43,2022-08-01,56612,224473,148674,169720,510637,33504,25232,39262
44,2022-09-01,56979,225880,149690,170681,513119,33651,25434,39598
45,2022-10-01,57271,227756,150763,171711,515746,33892,25619,39923
46,2022-11-01,57506,229284,152249,172560,517901,34209,25763,40313
47,2022-12-01,57803,230864,153373,173282,520382,34482,25967,40575
48,2023-01-01,58081,232551,154511,174221,522721,34802,26141,40941
49,2023-02-01,58285,234193,155584,175031,524990,35036,26303,41162
50,2023-03-01,58578,236032,156448,175621,527981,35322,26495,41488
51,2023-04-01,58862,236966,157340,176200,537194,35548,26686,41712
52,2023-05-01,59063,238517,158246,176858,540325,35793,26930,42151
53,2023-06-01,59231,239573,158980,177288,541987,35944,27102,42329

In [6]:
# Group and pivot the geodata
if 'underrepresented' in old_geo_data.columns:
    old_geo_data.drop('underrepresented', axis=1, inplace=True)
    
quality_totals = geodata.groupby(['time_bucket', 'category'])['standard_quality_count_value'].sum().reset_index()
quality_totals_pivot = quality_totals.pivot(index='time_bucket', columns='category', values='standard_quality_count_value').reset_index()

quality_totals_pivot['time'] = pd.to_datetime(quality_totals_pivot['time_bucket'])

# Identify the latest 'time' in old_geo_data
latest_time = old_geo_data['time'].max()

# Filter rows from total quality articles where 'time' is greater than latest_time from old_data to identify rows to be added
filtered_rows = quality_totals_pivot[quality_totals_pivot['time'] > latest_time]
filtered_rows['total'] = filtered_rows.sum(axis=1)


# Filter columns of last_row based on columns in geo_data
common_columns = [col for col in filtered_rows.columns if col in old_geo_data.columns]

filtered_last_rows = filtered_rows[common_columns]

# Append to geo_data
filtered_last_rows = filtered_last_rows.loc[:, old_geo_data.columns]

old_geo_data = old_geo_data.append(filtered_last_rows, ignore_index=True)

old_geo_data

/tmp/ipykernel_37195/2862992425.py:15: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  filtered_rows['total'] = filtered_rows.sum(axis=1)
/tmp/ipykernel_37195/2862992425.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_rows['total'] = filtered_rows.sum(axis=1)
/tmp/ipykernel_37195/2862992425.py:27: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  old_geo_data = old_geo_data.append(filtered_last_rows, ignore_index=True)

,time,Latin America & Caribbean,Central & Eastern Europe & Central Asia,"East, Southeast Asia, & Pacific",North America,Northern & Western Europe,Middle East & North Africa,Sub-Saharan Africa,South Asia
0,2019-01-01,43211,157277,98605,133819,390489,23763,16709,24872
1,2019-02-01,43507,158527,99658,134408,394303,23932,16854,25078
2,2019-03-01,43749,159813,100624,135045,395822,24118,17098,25245
3,2019-04-01,43925,161123,101544,135608,397749,24336,17522,25631
4,2019-05-01,44251,162442,102600,136348,399776,24541,17689,25815
5,2019-06-01,44575,163607,103453,137104,401924,24796,17866,26347
6,2019-07-01,44884,164846,104400,137724,403831,24941,18035,26638
7,2019-08-01,45186,166190,105317,138491,405853,25105,18173,26908
8,2019-09-01,45470,167283,106107,139104,407689,25295,18294,27073
9,2019-10-01,45727,168942,107117,139983,409961,25524,18468,27440
10,2019-11-01,45952,170360,108360,141289,412170,25765,18608,28255
11,2019-12-01,46170,172257,109409,142063,414288,25980,18774,28717
12,2020-01-01,46438,174043,110425,142822,416541,26261,18946,29070
13,2020-02-01,46654,175590,111483,143688,418677,26446,19101,29346
14,2020-03-01,46972,177010,112982,144568,421694,26712,19330,29615
15,2020-04-01,47363,178809,114184,145267,425167,27061,19604,30020
16,2020-05-01,47790,180645,116069,146432,428275,27325,19929,30374
17,2020-06-01,48132,182160,117121,147331,431211,27581,20186,30724
18,2020-07-01,48382,183580,118275,148591,434766,27790,20389,31142
19,2020-08-01,48704,184724,119261,149611,437560,28083,20609,31493
20,2020-09-01,48998,185960,120418,150419,439946,28341,20776,31855
21,2020-10-01,49468,187499,121687,151367,442465,28590,20977,32247
22,2020-11-01,49710,189371,123424,152167,451866,28928,21132,32709
23,2020-12-01,50013,190904,124851,152975,455197,29170,21292,33089
24,2021-01-01,50667,192565,126302,153909,458228,29441,21478,33457
25,2021-02-01,51019,193944,127471,154741,461014,29686,21645,33784
26,2021-03-01,51423,195442,128757,155699,466216,29949,21827,34069
27,2021-04-01,51784,196908,129719,156475,471174,30121,22006,34188
28,2021-05-01,52135,198693,130766,157277,474318,30330,22201,34541
29,2021-06-01,52409,199824,131796,158169,476557,30471,22430,34848
30,2021-07-01,52724,201196,133028,157269,478874,30673,22665,35406
31,2021-08-01,53071,202606,134239,158472,481278,30932,22928,35945
32,2021-09-01,53327,203847,135494,159237,483641,31112,23157,36259
33,2021-10-01,53578,205412,136732,160018,486109,31310,23364,36521
34,2021-11-01,53838,207093,138257,160772,488617,31575,23544,36883
35,2021-12-01,54198,208486,139453,161858,491099,31795,23735,37195
36,2022-01-01,54563,210253,140725,162601,493856,32033,23947,37515
37,2022-02-01,54877,211884,141908,163262,496033,32245,24145,37794
38,2022-03-01,55123,214760,143158,164071,498546,32464,24314,38033
39,2022-04-01,55397,217071,144190,164894,500935,32653,24479,38229
40,2022-05-01,55662,218800,145270,165848,503284,32891,24691,38445
41,2022-06-01,55995,220862,146277,167996,505742,33077,24845,38669
42,2022-07-01,56379,222720,147346,168804,508021,33293,25066,38900
43,2022-08-01,56612,224473,148674,169720,510637,33504,25232,39262
44,2022-09-01,56979,225880,149690,170681,513119,33651,25434,39598
45,2022-10-01,57271,227756,150763,171711,515746,33892,25619,39923
46,2022-11-01,57506,229284,152249,172560,517901,34209,25763,40313
47,2022-12-01,57803,230864,153373,173282,520382,34482,25967,40575
48,2023-01-01,58081,232551,154511,174221,522721,34802,26141,40941
49,2023-02-01,58285,234193,155584,175031,524990,35036,26303,41162
50,2023-03-01,58578,236032,156448,175621,527981,35322,26495,41488
51,2023-04-01,58862,236966,157340,176200,537194,35548,26686,41712
52,2023-05-01,59063,238517,158246,176858,540325,35793,26930,42151
53,2023-06-01,59231,239573,158980,177288,541987,35944,27102,42329
54,2023-07-01,59538,242139,160736,178593,546113,36188,27710,42999
55,2023-08-01,59840,243669,162059,179267,548327,36411,28039,43486

In [7]:
if filtered_last_rows.empty:
    print("No data has been changed or added to the original spreadsheet. Will not overwrite updated_gender.csv")
    print(old_geo_data)

else:
    # Compute the Year-over-Year difference
    yoy_difference = old_geo_data.drop(columns='time').diff(periods=12)

    # Compute the 3-month rolling average for the entire dataset
    rolling_avg_yoy = yoy_difference.rolling(window=3).mean()

    # Round every value to the nearest whole number (excluding the 'time' column)
    rolling_avg_yoy = rolling_avg_yoy.round(0)

    # Add the 'time' column back
    rolling_avg_yoy['time'] = old_geo_data['time']

    # Reorder columns to make 'time' the first column
    rolling_avg_yoy = rolling_avg_yoy[['time'] + [col for col in rolling_avg_yoy if col != 'time']]
    
    # Create total column
    columns_to_sum = ["Latin America & Caribbean", "Central & Eastern Europe & Central Asia", 
                      "East, Southeast Asia, & Pacific", "North America", "Northern & Western Europe", 
                      "Middle East & North Africa", "Sub-Saharan Africa", "South Asia"]

    # Compute the sum for the specified columns for the last row
    rolling_avg_yoy['total'] = rolling_avg_yoy[columns_to_sum].sum(axis=1)

    # Create percentages

    # List of underrepresented regions
    underrepresented_regions = [
        "East, Southeast Asia, & Pacific", 
        "Latin America & Caribbean", 
        "Middle East & North Africa", 
        "South Asia", 
        "Sub-Saharan Africa"
    ]

    # Compute the sum of underrepresented regions
    rolling_avg_yoy['underrepresented_sum'] = rolling_avg_yoy[underrepresented_regions].sum(axis=1)

    # Calculate the proportion of underrepresented regions to total
    rolling_avg_yoy['underrepresented'] = rolling_avg_yoy['underrepresented_sum'] / rolling_avg_yoy['total']

    # drop underrepresented sum
    rolling_avg_yoy.drop('underrepresented_sum', axis=1, inplace=True)

    # Save the updated geo_data to a CSV
    print("updating csv file")
    rolling_avg_yoy.to_csv('data/updated_geo_data.csv', index=False)

updating csv file